<div fxLayout="column" fxLayoutAlign="center center" style="margin-bottom: 5px;">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h1>Despre</h1>
            <img style="width: 800px" src="../../../../assets/imgs/team.webp">
            <p style="width: 800px; text-align: justify; font-size: 17;">EnableNow este o asociație de succes înființată
                în anul 2023, dedicată ajutării persoanelor cu dizabilități și nu numai. Suntem pasionați de crearea
                unui mediu inclusiv și oferim o platformă inovatoare prin intermediul aplicației noastre, care le
                permite oamenilor să ajute persoanele cu dizabilități cu diverse sarcini și nevoi.<br><br>
                Cu o viziune de a spori independența și calitatea vieții persoanelor cu dizabilități, EnableNow a adunat
                o comunitate perfectă de voluntari și beneficiari. Suntem mândri să avem un grup divers de membri,
                inclusiv voluntari dedicati, persoane cu dizabilități și susținători ai cauzei noastre, toți lucrând
                împreună pentru a crea o societate mai incluzivă și mai echitabilă.<br><br>
                Prin intermediul aplicației noastre, facilităm o legătură facilă și directă între cei care doresc să
                ofere ajutor și persoanele cu dizabilități care au nevoie de acest sprijin. Voluntarii pot găsi sarcini
                și proiecte diverse, de la asistență în cumpărături, ajutor în transport, asistare în activități
                cotidiene până la oferirea de suport emoțional și consiliere. Fiecare sarcină este adaptată nevoilor și
                abilităților individuale, asigurându-se că fiecare persoană primește ajutorul de care are nevoie.<br>
                Comunitatea noastră de voluntari este caracterizată de empatie, angajament și spirit de echipă. Toți
                membrii sunt încurajați să-și aducă experiențele și expertiza personală pentru a crea o schimbare
                pozitivă în viețile persoanelor cu dizabilități. Colaborarea este încurajată și susținută, astfel încât
                să putem maximiza impactul nostru colectiv și să oferim sprijin continuu și durabil.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>