<footer>
    <div class="footer-content">
        <div fxLayout="row" fxLayoutAlign="space-evenly center" class="container">
            <div fxLayout="column" fxLayoutAlign="center center" class="body">
                <div>
                    <img style="width: 300px" src="../../../../assets/imgs/logo.png">
                </div>
                <div>
                    <p style="width: 310px; text-align: left; font-size: 18px;">Susținem comunitățile defavorizate, în
                        mod special persoanele cu dizabilitati Picătură cu picătură se face un ocean.</p>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="body">
                <div style="font-size: 18px; text-align: center;">
                    <ul style="list-style: none;">
                        <p>Social Media</p>
                        <li><a href="www.facebook.com" style="color: #ffb507; text-decoration: none;">Facebook</a></li>
                        <li><a href="www.instagram.com" style="color: #ffb507; text-decoration: none;">Instagram</a>
                        </li>
                        <li><a href="www.linkedin.com" style="color: #ffb507; text-decoration: none;">Linkedin</a></li>
                    </ul>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="body">
                <div style="font-size: 18px; text-align: center;">
                    <ul style="list-style: none;">
                        <p>Meniu</p>
                        <li><a href="www.facebook.com" style="color: #ffb507; text-decoration: none;">Acasa</a></li>
                        <li><a href="www.instagram.com" style="color: #ffb507; text-decoration: none;">Activitati</a>
                        </li>
                        <li><a href="www.linkedin.com" style="color: #ffb507; text-decoration: none;">Doneaza</a></li>
                        <li><a href="www.linkedin.com" style="color: #ffb507; text-decoration: none;">Despre</a></li>
                        <li><a href="www.linkedin.com" style="color: #ffb507; text-decoration: none;">Ajutor</a></li>
                    </ul>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="body">
                <div style="font-size: 18px; text-align: center;">
                    <ul style="list-style:none;color: #ffb507;">
                        <p style="color: black;">Valori</p>
                        <li>Empatie</li>
                        <li>Responsabilitate</li>
                        <li>Comunitate</li>
                    </ul>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="body">
                <div style="font-size: 18px; text-align: center;">
                    <ul style="list-style: none;">
                        <p>Parteneri</p>
                        <li><a href="www.kaufland.ro" style="color: #ffb507; text-decoration: none;">Kaufland</a></li>
                        <li><a href="https://www.salvaticopiii.ro"
                                style="color: #ffb507; text-decoration: none;">salvaticopiii.ro</a></li>
                        <li><a href="https://carturesti.ro"
                                style="color: #ffb507; text-decoration: none;">Cărturesti</a></li>
                    </ul>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="body">
                <div
                    style="width: 250px; height: 150px; background-color: rgb(248, 248, 248);font-size: 18px; color: #ffb507;border-radius: 30% 0 30% 0;">
                    <p>Județul Argeș,<br>
                        Comuna Schitu-Golești,<br>
                        Strada Tănășești<br>
                        Numărul 150
                    </p>
                    <a href="http://www.facebook.com"><mat-icon
                            style="transform: scale(1.2); color: #ffb507;">facebook</mat-icon></a>
                    <a href="mailto:quantumdenis@gmail.com"><mat-icon
                            style="padding-left: 7px; transform: scale(1.2); color: #ffb507;"> email</mat-icon></a>
                </div>

            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" class="footer-end">
            <p>All rights reserved &copy; 2023. This site has been made by <a
                    href="https://github.com/denisxoctavian">Denis Tuta</a>.</p>
        </div>
    </div>
</footer>