<div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h4>VREI SĂ NE SUSȚII? </h4>
            <p>
                <b>
                    Donează direct în conturile asociației:
                </b>
            </p>
            <p style="text-align: center;">
                Asociatia ENABLENOW, CIF 23417962<br>
                RO80 INGB 0000 3333 2727 6700 cont lei<br>
                RO55 INGB 0000 3333 2727 6800 cont EURO<br>
                RO87 INGB 0000 3333 1337 6900 cont USD<br>
                BIC code (SWIFT): INGBROBU<br>
            </p>
            <p>
                <b>
                    Redirecționează 3.5% din impozitul anual datorat la stat
                </b>
            </p>
            <p>
                Ne gasesti pe <a style="text-decoration: none; color: #ffb507;"
                    href="https://redirectioneaza.ro/asociatii">redirectioneaza.ro</a>
            </p>
            <img style="width: 430px" src="../../../../assets/imgs/donate.png">
        </div>
    </div>
</div>
<app-footer></app-footer>